.dropdown {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.bar1, .bar2, .bar3 {
  width: 60px;
  height: 5px;
  background-color: #003262;
  margin: 11px ;
}

.main-menu {
  position: relative;

}

#main-navigation {
  position: absolute;
  background-color: #003262;
  color: #FDB515;
  text-align: center;
  bottom: -374px;
  height: auto;
  width: 150px;
  right: 5px;

}


a:visited { 
  text-decoration: none; 
  color: inherit; 
 } 


.hero
{
  width: 100%;
  z-index: 0;
  margin: 0; 
  padding: 0; 
  outline: none;
}


.img-responsive {
    width: 100%;
    height: auto;
    display: block;
  }


  .our-roots-fig-1 {
    width: 100%;
    height: 310px;
    display: block;
  }

  .horace-davis {
    width: 100%;
    height: 303px;
    display: block;
  }


  .charles {
    width: 200px;
    height: auto;
    display: block;
    position: center;
  }

  .woman-student {
    width: 100%;
    height: 400px;
    display: block;
  }

  .initiation {
    width: 100%;
    height: 400px;
    display: block;
  }

  .pilgrimage {
    width: 100%;
    height: 395px;
    display: block;
  }

  .fig-1911 {
    width: 100%;
    height: 250px;
    display: block;
  }

  .fig-1921 {
    width: 100%;
    height: 310px;
    display: block;
  }

  .fig-1931 {
    width: 100%;
    height: 500px;
    display: block;
  }

  .fig-1941 {
    width: 100%;
    height: 350px;
    display: block;
  }

  .fig-1951 {
    width: 100%;
    height: 750px;
    display: block;
  }

  .fig-1961 {
    width: 100%;
    height: 625px;
    display: block;
  }

  .fig-1971 {
    width: 100%;
    height: 450px;
    display: block;
  }

  .fig-1981 {
    width: 100%;
    height: 400px;
    display: block;
  }

  .fig-1991 {
    width: 100%;
    height: 650px;
    display: block;
  }

  .fig-2011 {
    width: 100%;
    height: 550px;
    display: block;
  }

  .col-sm-1 {
    float: left;
  }
  
  /* This will size your column sizes correctly */
  .container {
    max-width: 1200px;
  }
  
  .column-box {
    width: 100%;
    height: 100px;
    background: green;
  }
  
  .docs-link {
    text-align: center;
  }
  
  .vertical-center {
    align-items: center;
  }


footer {
  display: block;
  width: 100%;
  top: 3px;
  bottom: 0;
  left: 0;
  margin: 0;
  text-align: center;
  background-color: #FDB515;
  color: #003262;
  font-size: 10px
}

.social {
  text-align: right;
  font-size: 26px
}

header {
  display: block;
  width: 100%;
  position: ;
  top: 0;
  text-align: right;
  padding: 3px;
  background-color: #FDB515;
  color: #003262;
}

ul
{
list-style-type: none;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

h1 {
  color: #003262;
}

hr {
  width: 100%;  
height: 1px;  
background-color: ;  
margin-bottom: 4px;  
margin-right: auto;  
margin-left: auto;  
margin-top: 1px;  
border-width: 4px;  
border-color: #003262; 
  }

  .caption {
    font-size: 10px;
    
  }
